* {
  box-sizing: border-box;
 
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
body{
  width: 100%;
}
.with{
width: 90%;
}
.p-title  {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  text-align: center;
  }
.h-title {
  margin: 0 0 20px 0;
  padding: 100px 0 20px 0;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  
  position: relative;

}
.h-title:after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
  text-align: center;
}

/* navigation bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background-color: rgba(0, 0, 0, 0)!important;
  padding: 55px 5px;
  
}
.show{
  transition: 1s;
  padding-top: 5px;
  
  
}

.show a{
 
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  
  
 
  
}

.navbar-light .show  .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}




.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #18d26e;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #18d26e;
}
.navbar-light .navbar-brand {
  color: white;
  font-size: 34px;
  border-left: 4px solid #18d26e;
  padding-left: 10px;
}
.navbar-light .navbar-brand:hover {
  color: white;
}

.nav-item{
padding: 0px 8px;
}
.carousel-caption{
 height: 100vh;

  z-index: 2;

  
}
#carouselExampleCaptions h2{
  font-size: 48px;

}

/* nav end*/
/* carousel intro*/

#intro .carousel-item::before {
content: '';
background-color: rgba(0, 0, 0, 0.7);
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
left: 0;
bottom: 0;
}
#intro .carousel-fade{
  width: 100%;
}
#intro .animate__animated.animate__fadeInUp{
--animate-duration: 2s;
}
#intro .animate__animated.animate__fadeInDown{
--animate-duration: 2s;
}

#intro  .carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}
#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#intro  .carousel-item.active {
  height: 100vh;

}
#intro .first {
  background-image: url(/img/1.jpg);
  background-size: cover;
  background-position: center;
}

#intro .second {
  background-image: url(/img/2.jpg);
  background-size: cover;
  background-position: center;
}
#intro .third {
  background-image: url(/img/3.jpg);
  background-size: cover;
  background-position: center;

}
#carouselExampleCaptions h2,
#carouselExampleCaptions p
{
  color: white;
  z-index: 2;
}
#carouselExampleCaptions p{
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 60%;
  
}

#intro .btn-primary{
  background-color: #18d26e;

  border: none;
  margin: 10px;
  padding: 12px 50px;
  border-radius: 25px;
  z-index: 1;
}
#intro .btn-primary:hover{
color: #18d26e;
background-color: white;
transition: 0.5s;
border: 0.5px solid black;
}



#intro .carousel-item::before {
content: '';
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
left: 0;
bottom: 0;
}


/* carousel intro end*/
/*services*/
#services{
  background-color: black;
  color: white;
  
  font-weight: 300;
}
#services .box{
  padding: 30px 20px;
  
}

#services .box i {
  color: #18d26e;
  padding-bottom: 15px;
}
#services .box a {
  
  color: white;
  font-size: 18px;
  margin: 15px 0px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}
#services .box a:hover {
  color: #18d26e;
}
#services .box p {
  font-size: 14px;
  font-weight: 500;
}

.box-mid{
  background: linear-gradient(   0deg, #000000 0%, #242323 50%, #000000 100%);
}
/*services end*/
/*about-us*/
#about-us{
  text-align: center;
  

}

#about-us h4{
padding-top: 25px;

}

#about-us a{
  
 text-decoration: none;
 color: black;
 transition: 0.5s;
 font-size: 20px;
}
#about-us a:hover{
  
  color: #18d26e;
 }
#about-us img{
  width: 100%;
 
  
  
}
#about-us .icon{
  position: absolute;
  left: 40%;
  bottom: -20px;
  border: 3px solid white;
  border-radius: 50px;
 padding: 10px 10px 10px 9px;
  background-color: #18d26e;
  color: white;
  transition: 0.5s;
  
}
@media (max-width: 991px) {
  #about-us .icon{
    
    left: 46%;

    
  }
}

#about-us .box:hover .icon{
  background-color: white;
  color: #18d26e;
  
  
}
#about-us .overlay{

  position: relative;

}
#about-us .box p {
  font-size: 14px;
    text-align: left;
    padding: 0 20px 20px;
    font-weight: 300;
}
/*service*/

#service{
  text-align: center;
  background-color: white;
  
}

#service a{
  text-decoration: none;
  color: #111111;
  font-size: 18px;
  transition: 0.5s;

}
#service .description{
  color: #666666;
  font-size: 16px;
}
#service .box{
  text-align: left;
  display: flex;
}
#service .box:hover a{
  color: #18d26e;
}
#service .icon{

 color: #18d26e;
 padding: 0px 30px 0px 0px;
 
}
#service i{
  width: 40px;
}
/*call to action*/
#action{
  text-align: center;
  background-image: url(/img/call-to-action-bg.jpg);
  color: white;
  padding: 60px 8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#action .btn{
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgba(0, 128, 0, 0);
  padding: 8px 28px;
  transition: 0.5s;
}
#action .btn:hover{
  border: 2px solid #18d26e;
  background-color: #18d26e;
}
#action p{
  font-size: 16px;
  font-weight: 300;
}
/*skills*/
#skills{
  text-align: center;
  
}
#skills .progress-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  align-items: center;
}
#skills .in{
  padding: 0px 2%;
}
#skills .progress{
  height: 35px;
  margin: 12px 0px;
  background-color: rgba(139, 69, 19, 0);
  
}
/* facts */
#facts .counter-up{
  font-size: 48px;
  color: #18d26e;
}
#facts p{
  font-size: 14px;
  font-weight: 500;
}
#facts img{
  width: 100%;
  padding-top: 20px;
}
/*portfolio*/
#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  background: #18d26e;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
/*our-clients*/
#our-clients{
  position: relative;
  height: 260px;
}
#our-clients .pics{
  display: flex;
  flex-direction: row;
  
}
#our-clients .carousel-inner{
  height: 160px;
}
#our-clients .indicator{
  padding-top: 20px;
  position: absolute;
  top: 45px;
  height: 100%;
 
  
}
#our-clients .indicator button{
  width: 10px;
  height: 10px;
  border: 2px solid #18d26e;
  border-radius: 25px;
 

}
#our-clients img{
  opacity: 0.5;
  transition: 0.5s;
}
#our-clients img:hover{
  opacity: 1;
}
/*testimonials*/
#testimonials{
  position: relative;
  text-align: center;
}
#testimonials .carousel-item {


}
#testimonials .box{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
flex-direction: column;
}

#testimonials img{
  width: 120px;
  height: 120px;
  border-radius: 100px;

  

}
#testimonials .indicator1{
  padding-top: 20px;
  position: absolute;
  top: 245px;
  height: 20%;
 
  
}
#testimonials .indicator1 button{
  width: 10px;
  height: 10px;
  border: 2px solid #18d26e;
  border-radius: 25px;
 

}
#testimonials h3{
  font-size: 20px;
}
#testimonials h5{
  font-size: 14px;
  color: #666666;

}

#testimonials p{
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  color: #666666;
}
/*team*/

#team .card{
  border: none;
  border-radius: 0;
}
#team .card-img-overlay{
  opacity: 0;
  transition: 0.5s;
 
}

#team .card-img-overlay p{
  font-size: 10px;
  font-weight: 500;
  font-style: italic;
  color: white;
 
}
#team .card-img-overlay h5{
  margin-bottom: 5px;
}

#team .card-img-overlay:hover{
  background-color: #000000c4;
  z-index: 1;
  opacity: 1;
  padding-top: 35%;
  
}
#team .icons a{
  color: white;
  transition: 0.5s;
}
#team .icons a:hover{

color: #18d26e;
}
/*contact*/

#contact-us .box{
  text-align: center;
  color: #000000;

}
#contact-us a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
 
}
#contact-us a:hover{
  color: #18d26e;
 
}
#contact-us p{
  font-size: 16px;
  font-weight: 500;
  
}
#contact-us i{
  color: #18d26e;
}
#contact-us h4{
  font-size: 18px;
  color: #999999;
  font-weight: 900;
  padding: 13px 0px;
}
#contact-us .row{
  padding-top: 25px;
}
#contact-us .btn-primary{
  background-color: #18d26e;
  border-radius: none;
  border: none;
  margin: 10px;
  padding: 12px 50px;
  transition: 0.5s;
  
  z-index: 1;
}

#contact-us .btn-primary:hover{
color: white;
background-color: #0d6335;


}
#contact-us .btn {
  border-radius: none;
}

/*footer*/