* {
    box-sizing: border-box;
    animation-duration: 30s;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
  
    background-color: rgba(0, 0, 0, 0)!important;
    
    
  }
.show{
    transition: 1s;
    padding-top: 5px;
    
    
}
.show a{
   
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    
    
   
    
}

 .navbar-light .show  .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}




.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #18d26e;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #18d26e;
  }
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-brand:hover {
    color: white;
}


  .carousel-caption{
   height: 100vh;

    z-index: 2;
    
  }
  #carouselExampleCaptions h2{
    font-size: 48px;

}

  .carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .carousel-item.active {
    height: 100vh;
  }
  .first {
    background-image: url(https://bootstrapmade.com/demo/templates/BizPage/assets/img/hero-carousel/2.jpg);
    background-size: cover;
    background-position: center;
  }

  .second {
    background-image: url(https://bootstrapmade.com/demo/templates/BizPage/assets/img/hero-carousel/1.jpg);
    background-size: cover;
    background-position: center;
  }
  .third {
    background-image: url(https://bootstrapmade.com/demo/templates/BizPage/assets/img/hero-carousel/3.jpg);
    background-size: cover;
    background-position: center;

  }
  #carouselExampleCaptions h2,
  #carouselExampleCaptions p
  {
    color: white;
    z-index: 2;
  }
  #carouselExampleCaptions p{
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 60%;
    
}

  .btn-primary{
    background-color: #18d26e;
  
    border: none;
    margin: 10px;
    padding: 12px 50px;
    border-radius: 25px;
    z-index: 1;
}
.btn-primary:hover{
  color: #18d26e;
  background-color: white;
  transition: 0.5s;
  border: 0.5px solid black;
}
